trigger:
  branches:
    include:
      - master
  paths:
    include:
      - Frontend/**

pool:
  vmImage: ubuntu-latest

variables:
  working_dir: '$(System.DefaultWorkingDirectory)/Frontend'

steps:

- task: AzureStaticWebApp@0
  inputs:
    workingDirectory: '$(working_dir)'
    app_location: '.'
    app_build_command: 'npm run build'
    output_location: 'dist'
    config_file_location: '.'
    skip_api_build: true
    build_timeout_in_minutes: 10
    azure_static_web_apps_api_token: $(deployment_token)
  env:
    VITE_SUBSCRIPTION_ID: f275f355-8e02-4494-bc67-197191969e80
    VITE_TENANT_ID: c4f79ef7-d330-47c3-ac52-dc268ebf3293
    VITE_CLIENT_ID: 956a1138-d8ff-46e4-b2c2-137e97ff513c
    VITE_API_CLIENT_ID: 2e219690-3de6-403e-9a9f-f27610316558
    VITE_API_BASE_URL: https://spiritual-guide-api3-efchetavg2dndafr.swedencentral-01.azurewebsites.net
    VITE_REDIRECT_URI: https://zealous-water-0ccf68303.1.azurestaticapps.net/ask
