trigger:
  branches:
    include:
      - master
  paths:
    include:
      - Frontend/**

pool:
  vmImage: ubuntu-latest

variables:
  working_dir: '$(System.DefaultWorkingDirectory)/Frontend'

steps:

- task: AzureStaticWebApp@0
  inputs:
    workingDirectory: '$(working_dir)'
    app_location: '.'
    app_build_command: 'npm run build'
    output_location: 'dist'
    config_file_location: '.'
    skip_api_build: true
    build_timeout_in_minutes: 10
    azure_static_web_apps_api_token: $(deployment_token)